In [18]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, log_loss

data = pd.read_csv('after_tech.csv')

ratings = data[['rating1', 'rating2', 'rating3', 'rating4', 'rating5']]
X = pd.concat([data['Tech'], ratings], axis=1)
y = data['Tech']

X_train, X_pred, y_train, y_pred = train_test_split(X, y, test_size=0.7, random_state=42)

X_train, X_test, y_train, y_test = train_test_split(X_train, y_train, test_size=0.2, random_state=42)

rf_model = RandomForestClassifier()
rf_model.fit(X_train, y_train)

y_pred = rf_model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
loss = log_loss(y_test, y_pred)

y_predict = rf_model.predict(X)
data['rf_predict'] = y_predict

In [6]:
from sklearn.metrics import accuracy_score

accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy on test data: {accuracy:.2f}")

Accuracy on test data: 1.00

In [8]:
X_train.head(20).tail(20)

       Tech  rating1  rating2  rating3  rating4  rating5
1254      0        4        2        3        4        2
17439     0        1        1        3        3        1
35155     0        4        5        2        5        3
22493     0        5        5        3        1        2
19204     0        3        4        3        4        3
26106     1        1        5        5        2        2
25665     1        3        4        5        4        5
30714     0        5        5        5        5        5
48557     1        5        4        5        5        5
30169     1        1        2        1        4        1
31550     1        4        3        4        4        3
26257     0        4        3        4        4        3
19736     1        1        2        4        5        3
23668     0        2        3        4        4        3
41502     0        4        4        4        5        4
40278     0        1        3        2        3        4
35211     1        3        5        5        5        5
9601      0        5        5        5        5        5
11621     1        4        1        3        2        2
39273     0        5        4        3        4        3

In [12]:
print(y_predict)

[0 0 1 ... 1 1 0]

In [13]:
from sklearn.metrics import f1_score

y_pred = rf_model.predict(X_test)
f1 = f1_score(y_test, y_pred, average='weighted')

print(f"F1 score on test data: {f1:.2f}")

F1 score on test data: 1.00