In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, log_loss

# 读取数据集
data = pd.read_csv('after_tech.csv')

data.head()

,idex,company,location,dates,job-title,summary,pros,cons,advice-to-mgmt,overall,rating1,rating2,rating3,rating4,rating5,helpful-count,Tech
0,1,google,NaN,11-Dec-18,Current Employee - Anonymous Employee,Best Company to work for,People are smart and friendly,Bureaucracy is slowing things down,NaN,5,4,5,5,4,5,0,0
1,2,google,"Mountain View, CA",21-Jun-13,Former Employee - Program Manager,"Moving at the speed of light, burn out is inev...","1) Food, food, food. 15+ cafes on main campus ...",1) Work/life balance. What balance? All those ...,1) Don't dismiss emotional intelligence and ad...,4,2,3,3,5,3,2094,0
2,3,google,"New York, NY",10-May-14,Current Employee - Software Engineer III,Great balance between big-company security and...,"* If you're a software engineer, you're among ...","* It *is* becoming larger, and with it comes g...",Keep the focus on the user. Everything else wi...,5,5,4,5,5,4,949,1
3,4,google,"Mountain View, CA",8-Feb-15,Current Employee - Anonymous Employee,The best place I've worked and also the most d...,You can't find a more well-regarded company th...,I live in SF so the commute can take between 1...,Keep on NOT micromanaging - that is a huge ben...,5,2,5,5,4,5,498,0
4,5,google,"Los Angeles, CA",19-Jul-18,Former Employee - Software Engineer,"Unique, one of a kind dream job",Google is a world of its own. At every other c...,"If you don't work in MTV (HQ), you will be giv...",Promote managers into management for their man...,5,5,5,5,5,5,49,1

In [18]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, log_loss

# 读取数据集
data = pd.read_csv('after_tech.csv')

# 将评分变量rating1-rating5合并为一个特征矩阵
ratings = data[['rating1', 'rating2', 'rating3', 'rating4', 'rating5']]
X = pd.concat([data['Tech'], ratings], axis=1)
y = data['Tech']

# 抽取20%的数据作为测试集和训练集，并按照4:1的比例划分训练集和测试集

X_train, X_pred, y_train, y_pred = train_test_split(X, y, test_size=0.7, random_state=42)

X_train, X_test, y_train, y_test = train_test_split(X_train, y_train, test_size=0.2, random_state=42)

# 训练随机森林模型
rf_model = RandomForestClassifier()
rf_model.fit(X_train, y_train)

# 在测试集上进行测试
y_pred = rf_model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
loss = log_loss(y_test, y_pred)




# 对整个数据集进行预测
y_predict = rf_model.predict(X)
data['rf_predict'] = y_predict

In [6]:
from sklearn.metrics import accuracy_score

accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy on test data: {accuracy:.2f}")

Accuracy on test data: 1.00

In [8]:
X_train.head(20).tail(20)

       Tech  rating1  rating2  rating3  rating4  rating5
1254      0        4        2        3        4        2
17439     0        1        1        3        3        1
35155     0        4        5        2        5        3
22493     0        5        5        3        1        2
19204     0        3        4        3        4        3
26106     1        1        5        5        2        2
25665     1        3        4        5        4        5
30714     0        5        5        5        5        5
48557     1        5        4        5        5        5
30169     1        1        2        1        4        1
31550     1        4        3        4        4        3
26257     0        4        3        4        4        3
19736     1        1        2        4        5        3
23668     0        2        3        4        4        3
41502     0        4        4        4        5        4
40278     0        1        3        2        3        4
35211     1        3        5        5        5        5
9601      0        5        5        5        5        5
11621     1        4        1        3        2        2
39273     0        5        4        3        4        3

In [12]:
print(y_predict)

[0 0 1 ... 1 1 0]

In [13]:
from sklearn.metrics import f1_score

# 在测试集上进行测试
y_pred = rf_model.predict(X_test)
f1 = f1_score(y_test, y_pred, average='weighted')

print(f"F1 score on test data: {f1:.2f}")

F1 score on test data: 1.00